# genimage.cfg - SD Card Image Layout for Milk-V Duo
# Based on the Ubuntu port's layout

image alpine-milkv.img {
    hdimage {}
    
    # Boot partition (FAT32)
    partition boot {
        partition-type = 0xC
        image = "boot.vfat"
        size = 128M
    }
    
    # Swap partition
    partition swap {
        partition-type = 0x82
        image = "swap.img"
    }
    
    # Root filesystem (ext4)
    partition rootfs {
        partition-type = 0x83
        bootable = "true"
        image = "rootfs.ext4"
        size = 2G
    }
}

# Boot partition contents
image boot.vfat {
    vfat {
        files = {
            "fip.bin",
            "Image",
            "dtb/"
        }
    }
    size = 128M
}

# Root filesystem
image rootfs.ext4 {
    ext4 {
        label = "rootfs"
        use-mke2fs = "true"
    }
    mountpoint = "/"
    size = 2G
}
